# Fichiers et dossiers à ignorer par Git
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.log
logs/
*.sqlite3
*.db
*.sqlite
*.bak
*.swp
.DS_Store
Thumbs.db
.idea/
.vscode/
*.bak
*.tmp
